html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.albums {
    display: grid;
    grid-template-columns: auto auto auto;
    .album {
        height: 200px;
        width: 100px;
        background: url('../albums/DSC_0590.jpg');
    }
}