html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    perspective: 10px;
    padding: 0;
    margin: 0;
    animation: 0.5s introCircle ease-in;
}

nav {
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        opacity: 0;
        animation: 0.3s intro 0.5s ease-in forwards;
        li {
            padding: 1em;
            a {
                display: block;
                text-decoration: none;
                position:relative;
                font-weight: bold;
                padding: 0.3em 0;
                color: white;
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 0.125em;
                    background-color: red;
                    //background: linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 100, 1));
                    opacity: 0;
                    transition: opacity 300ms, transform 300ms;
                    transform-origin: center;
                    transform: scale(0);
                    border-radius: 5em;
                }
                &:hover:after, &:focus:after {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }
}

@keyframes introCircle {
    from {
        clip-path: circle(0%);
    }
    to {
        clip-path: circle(100%);
    }
}

.p-section {
    transform-style: preserve-3d;
    height: 100vh;
    position: relative;
}

.content,
.bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.p-section.back {
    z-index: -1;
}

.p-section.back .bg {
	transform: translateZ(-10px) scale(2);
	background-size: cover;
}


#one .bg {
    background-image: url('../albums/DSC04753.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.p-section.front {
	z-index: 5;
	background-color: black;
}
#three .bg {
	background-image: url('../albums/DSC_0590.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

//text formatting
.content {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	z-index: 10;
}

.logo {
    position: absolute;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    span {
        color: red;
    }
    animation: 0.3s intro 0.3s ease-in forwards;
}



@keyframes intro {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

footer {
    height: 10vh;
    position: relative;
    bottom: 0;
    display: flex;
    p {
        color: white;
    }
    background-color: black;
}
