hmtl, body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.parallax-container .hero {
  background: url(../albums/DSC04753.jpg) no-repeat center;
  height: 1000px;
}
.parallax-container .hero nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.parallax-container .hero nav ul li {
  padding: 1em;
}
.parallax-container .hero nav ul li a {
  display: block;
  text-decoration: none;
  position: relative;
  font-weight: bold;
  padding: 0.3em 0;
  color: white;
}
.parallax-container .hero nav ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2em;
  background-color: white;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  transform-origin: center;
  transform: scale(0);
  border-radius: 5em;
}
.parallax-container .hero nav ul li a:hover:after, .parallax-container .hero nav ul li a:focus:after {
  opacity: 1;
  transform: scale(1);
}

footer {
  background-color: black;
}
footer p {
  color: white;
}
