hmtl, body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    //min
}

.parallax-container{
    .hero {
        background: url(../albums/DSC04753.jpg) no-repeat center;
        height: 1000px;
        nav {
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                li {
                    padding: 1em;
                    a {
                        display: block;
                        text-decoration: none;
                        position:relative;
                        font-weight: bold;
                        padding: 0.3em 0;
                        color: white;
                        &:after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 0.2em;
                            background-color: white;
                            //background: linear-gradient(to right, rgba(0, 255, 0), rgba(126, 255, 255));
                            opacity: 0;
                            transition: opacity 300ms, transform 300ms;
                            transform-origin: center;
                            transform: scale(0);
                            border-radius: 5em;
                        }
                        &:hover:after, &:focus:after {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }
}

footer {
    p {
        color: white;
    }
    background-color: black;
}
