<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IdealShotz</title>
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/albums.css">
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <a class="logo" href="index.html">Ideal<span>Shotz</span></a>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="albums.html">Albums</a></li>
            <li><a href="pricing.html">Pricing</a></li>
            <li><a href="contacts.html">Contacts</a></li>
        </ul>
    </nav>
    <div class="albums">
        <div>
            <p>name</p>
            <img class="album" src="../albums/DSC_0590.jpg" alt="">
        </div>
        <div>
            <p>name</p>
            <img class="album" src="../albums/DSC04753.jpg" alt="">
        </div>
        <div>
            <p>name</p>
            <img class="album" src="../albums/DSC_0590.jpg" alt="">
        </div>
        <div>
            <p>name</p>
            <img class="album" src="../albums/DSC_0590.jpg" alt="">
        </div>
        <div>
            <p>name</p>
            <img class="album" src="../albums/DSC04753.jpg" alt="">
        </div>
        <div>
            <p>name</p>
            <img class="album" src="../albums/DSC_0590.jpg" alt="">
        </div>
    </div>
    <footer>
        <a href="https://www.instagram.com/ideal_shotz/" class="fa-brands fa-instagram fa-xl"></a>
        <a href="https://www.facebook.com/Ideal-Shotz-110269604537971" class="fa-brands fa-facebook fa-xl"></a>
        <a href="#" class="fa-brands fa-youtube fa-xl"></a>
        <a href="mailto:shotz.ideal@gmail.com" class="fa-solid fa-envelope fa-xl"></a>
    </footer>
</body>
</html>
