<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IdealShotz</title>
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/contacts.css">
    <link rel="stylesheet" href="../css/select.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <a class="logo" href="index.html">Ideal<span>Shotz</span></a>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="albums.html">Albums</a></li>
            <li><a href="pricing.html">Pricing</a></li>
            <li><a href="contacts.html">Contacts</a></li>
	    <li>
		    <select name="language-picker-select" id="language-picker-select">
		      <option lang="en" value="english" selected>EN</option>
		      <option lang="bg" value="bulgarian">BG</option>
		    </select>
	    </li>
        </ul>
    </nav>
    <div class="main">
	<img class="album" src="../albums/DSC_0590.jpg" alt="">
	<div class="contacts">
		<p>В случай, че искате да използвате нашите услуги или имате въпроси, можете да се свържете с нас чрез:</p>
		<ul>
			<li>
				<p>instagram: idealshotz</p>
			</li>
			<li>
				<p>facebook: idealshotz</p>
			</li>
			<li>
				<p>youtube: idealshotz</p>
			</li>
			<li>
				<p>mail: idealshotz</p>
			</li>
		</ul>
	</div>
    </div>
</body>
</html>
