<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IdealShotz</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css"">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="p-section back" id="one">
            <a class="logo">Ideal<span>Shotz</span></a>
            <nav>
                <ul>
                    <!--<li><a href="index.html">Home</a></li>-->
                    <li><a href="albums.html">Albums</a></li>
                    <li><a href="pricing.html">Pricing</a></li>
                    <li><a href="contacts.html">Contacts</a></li>
                </ul>
            </nav>
            <div class="bg"></div>
        </div>
        <div class="p-section front why">
            <strong>Защо да изберете нас?</strong>
            <div class="row content">
                <div class="column">
                    <strong>Опит в снимането на коли, модели, градска среда и природа</strong>
                    <p>От години се занимаваме с фотография. Започнахме с градска фотография и впоследствие продължихме да правим снимки на пейзажи, коли и хора.</p>
                </div>
                <div class="column">
                    <section>
                        <strong>Възможност за снимане от всякакъв ъгъл</strong>
                        <p>Разполагаме със техника, с която можем да снимаме както от земя така и от въздух. Можете да запомните събитието със снимки и видеа от дрон.</p>
                    </section>
                </div>
                <div class="column">
                    <strong>Млади, но с желание за развитие</strong>
                    <p>Ние сме група от младежи, които се занимават с фотография вече няколко години. Работим с голямо желание и задължително се стремим да постигнем исканите от клиента резултати.</p>
                </div>
            </div>
        </div>
        <div class="p-section back" id="three">
            <div class="row opinions">
                <strong>Мнения за нас</strong>
                <div class="column">
                    <section>
                        <blockquote>Останах много доволен от направените снимки. Всичко стана много бързо и качествено. Обработиха снимките и видеата само за ден.</blockquote>
                        <cite>П. Д.</cite>
                    </section>
                </div>
                <div class="column">
                    <section>
                        <blockquote>Екипът на Ideal Shotz подхожда с голямо желание и старание към всяка задача. Отделиха дълги часове, за да постигнем желаното и обработката на снимките стана в рамките на броени дни! Изключителна работа, силно препоръчвам!</blockquote>
                        <cite>Strive for Style</cite>
                    </section>
                </div>
                <div class="column">
                    <section>
                        <blockquote>Останахме доволни от качеството и работата на младежите! Бяха много точни и свършиха работата навреме. Снимките перфектно отговарят на изискванията ни. Препоръчваме! </blockquote>
                        <cite>As Warrior</cite>
                    </section>
                </div>
            </div>
            <div class="bg"></div>
        </div>
        <footer>
            <p>facebook</p>
            <p>instagram</p>
            <p>youtube</p>
            <p>twitter</p>
        </footer>
    </div>
</body>
</html>
