<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ideal Shotz</title>
    <link rel="stylesheet" href="../css/mainn.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="bg1">
        <a class="logo">Ideal<span>Shotz</span></a>
        <nav>
            <ul>
                <!--<li><a href="index.html">Home</a></li>-->
                <li><a href="albums.html">Albums</a></li>
                <li><a href="pricing.html">Pricing</a></li>
                <li><a href="contacts.html">Contacts</a></li>
            </ul>
        </nav>
    </div>
    <div class="separator"></div>
    <div class="listsection bg2">
        <strong class="head">Защо да изберете нас?</strong>
       <ul>
           <li>
                <strong>Опит в снимането на коли, модели, градска среда и природа</strong>
                <p>От години се занимаваме с фотография. Започнахме с градска фотография и впоследствие продължихме да правим снимки на пейзажи, коли и хора.</p>
           </li>
           <li>
               <strong>Възможност за снимане от всякакъв ъгъл</strong>
               <p>Разполагаме със техника, с която можем да снимаме както от земя така и от въздух. Можете да запомните събитието със снимки и видеа от дрон.</p>
           </li>
           <li>
               <strong>Млади, но с желание за развитие</strong>
               <p>Ние сме група от младежи, които се занимават с фотография вече няколко години. Работим с голямо желание и задължително се стремим да постигнем исканите от клиента резултати.</p>
           </li>
       </ul> 
    </div>
    <div class="separator"></div>
    <div class="opinions bg3">
        <strong class="head">Мнения за нас</strong>
        <ul>
            <li>
                <div class="opinion">
                    <blockquote>Останах много доволен от направените снимки. Всичко стана много бързо и качествено. Обработиха снимките и видеата само за ден.</blockquote>
                    <cite>П. Д.</cite>
                </div>
            </li>
            <li>
                <div class="opinion">
                    <blockquote>Екипът на Ideal Shotz подхожда с голямо желание и старание към всяка задача. Отделиха дълги часове, за да постигнем желаното и обработката на снимките стана в рамките на броени дни! Изключителна работа, силно препоръчвам! от</blockquote>
                    <cite>Strive for Style</cite>
                </div>
            </li>
            </li>
            <li>
                <div class="opinion">
                    <blockquote>Останахме доволни от качеството и работата на младежите! Бяха много точни и свършиха работата навреме. Снимките перфектно отговарят на изискванията ни. Препоръчваме!</blockquote>
                    <cite>As Warrior</cite>
                </div>
            </li>
            </li>
        </ul>
    </div>
    <footer style="position: relative;">
        <a href="https://www.instagram.com/ideal_shotz/" class="fa-brands fa-instagram fa-xl"></a>
        <a href="#" class="fa-brands fa-facebook fa-xl"></a>
        <a href="#" class="fa-brands fa-youtube fa-xl"></a>
        <a href="mailto:shotz.ideal@gmail.com" class="fa-solid fa-envelope fa-xl"></a>
    </footer>
</body>
</html>