<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IdealShotz</title>
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/albums.css">
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <a class="logo" href="index.html">Ideal<span>Shotz</span></a>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="albums.html">Albums</a></li>
            <li><a href="pricing.html">Pricing</a></li>
            <li><a href="contacts.html">Contacts</a></li>
	    <li>
		  <form action="window.location=bg" class="language-picker__form">
		    <select name="language-picker-select" id="language-picker-select">
		      <option lang="en" value="english" selected>English</option>
		      <option lang="bg" value="bulgarian">Bulgarian</option>
		    </select>
		  </form>
	    </li>
        </ul>
    </nav>
    <div class="albums">
	    <h1>Albums</h1>
	    <div class="grid">
		<div class="album-wrapper background" id="one" onclick="window.location = 'album.html'">
			<p>Cars</p>
		</div>
		<div class="album-wrapper background" id="two" onclick="alert('adsfadsfasfsadfsadf')">
			<p>Nature</p>
		</div>
		<div class="album-wrapper background" id="three" onclick="alert('adsfadsfasfsadfsadf')">
			<p>Street</p>
		</div>
		<div class="album-wrapper background" id="four" onclick="window.location = 'album.html'">
			<p>asdf</p>
		</div>
		<div class="album-wrapper background" id="five" onclick="alert('adsfadsfasfsadfsadf')">
			<p>asdf</p>
		</div>
		<div class="album-wrapper background" id="six" onclick="alert('adsfadsfasfsadfsadf')">
			<p>asdf</p>
		</div>
	    </div>
    </div>
    <footer>
        <a href="https://www.instagram.com/ideal_shotz/" class="fa-brands fa-instagram fa-xl"></a>
        <a href="https://www.facebook.com/Ideal-Shotz-110269604537971" class="fa-brands fa-facebook fa-xl"></a>
        <a href="#" class="fa-brands fa-youtube fa-xl"></a>
        <a href="mailto:shotz.ideal@gmail.com" class="fa-solid fa-envelope fa-xl"></a>
    </footer>
</body>
</html>
